PROJECT_DIR=$(dirname $1)

SOURCE_DIR="$PROJECT_DIR/source"
SUB_MODULE_DIR="$SOURCE_DIR/webdevn"

BUILD_ROOT="$PROJECT_DIR/distribution"

ASSET_DIR="$SOURCE_DIR/assets"

TEST_DIR="$PROJECT_DIR/spec"


export PROJECT_DIR
export SOURCE_DIR
export SUB_MODULE_DIR
export BUILD_ROOT
export BUILD_OUTPUT_DIR
export ASSET_DIR
export TEST_DIR
