PROJECT_DIR=$(dirname $1)

SOURCE_DIR="$PROJECT_DIR/source"
SUB_MODULE_DIR="$SOURCE_DIR/webdevn"

BUILD_ROOT="$PROJECT_DIR/distribution"

if [ -a $PROJECT_DIR/_build.envrc ]; then
    echo "Found _build.envrc ...loading"
	source $PROJECT_DIR/_build.envrc
else
	BUILD_OUTPUT_DIR=$BUILD_ROOT

	export BUILD_OUTPUT_DIR
fi


ASSET_DIR="$SOURCE_DIR/assets"

TEST_DIR="$PROJECT_DIR/spec"


export PROJECT_DIR
export SOURCE_DIR
export SUB_MODULE_DIR
export BUILD_ROOT
export BUILD_OUTPUT_DIR
export ASSET_DIR
export TEST_DIR
