nimcache/
nimble.develop
nimble.paths
nimbledeps

source/webdevn/assets/img/raster/*.ico
!source/webdevn/assets/img/raster/icon.ico
source/webdevn/assets/img/raster/*.png
source/webdevn/assets/img/raster/*.jpg

distribution/**/*.exe
distribution/**/*.exe.sha256
distribution/**/*.zip
distribution/**/*.zip.sha256
distribution/win/**/*.rc
distribution/win/**/*.ico
distribution/win/**/*.res

spec/**/webdevn.log

coverage
lcov.info