nimcache/
nimble.develop
nimble.paths
nimbledeps

source/webdevn/assets/img/raster/*.ico
source/webdevn/assets/img/raster/*.png
source/webdevn/assets/img/raster/*.jpg

distribution/**/*.exe
distribution/**/*.exe.sha256
distribution/**/*.zip
distribution/**/*.zip.sha256

coverage
lcov.info