html {
	width: 100%;
	height: 100%;
}

body {
	height: calc(100% - 16px);
	width: calc(100% - 16px);
	margin: 8px;
	align-content: center;
	justify-content: center;
}

h2 {
	font-size: 24px;
	font-weight: bold;
}
